# 1] Import Dependencies

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)

#regular expression
import re

#extract data 
import glob
import docx
import doc

import warnings
warnings.filterwarnings("ignore")

# 2] Creating dataset from all the resumes

In [2]:
path1 = 'F:\\Data Science\\Projects\\NLP\\Project files\\Resumes\\Internship'
path2 = 'F:\\Data Science\\Projects\\NLP\\Project files\\Resumes\\SQL Developer Lightning insight'
path3 = 'F:\\Data Science\\Projects\\NLP\\Project files\\Resumes\\React Developer'
path4 = 'F:\\Data Science\\Projects\\NLP\\Project files\\Resumes\\Peoplesoft resumes'
path5 = 'F:\\Data Science\\Projects\\NLP\\Project files\\Resumes\\workday resumes'

int_ = glob.glob(path1 + '/*.docx')
sql=glob.glob(path2 + "/*.docx")
react=glob.glob(path3 + "/*.docx")
ppl=glob.glob(path4 + "/*.docx")
work=glob.glob(path5 + "/*.docx")

In [3]:
def readtxt(filename):
    doc = docx.Document(filename)
    fullText = []
    for para in doc.paragraphs:
        fullText.append(para.text)
    return '\n'.join(fullText)

In [4]:
Resume1=[]
Category1=[]
for filename in int_:
    dummy1=readtxt(filename)
    Resume1.append(dummy1)
    Category1.append("Internship")
    intern = (pd.DataFrame(Resume1,Category1).reset_index())
    intern.columns = ['Category','Resume']

    
Resume2=[]
Category2=[]
for filename in sql:
    dummy2=readtxt(filename)
    Resume2.append(dummy2)
    Category2.append("SQL Developer")
    SQL = (pd.DataFrame(Resume2,Category2).reset_index())
    SQL.columns = ['Category','Resume']


Resume3=[]
Category3=[]
for filename in react:
    dummy3=readtxt(filename)
    Resume3.append(dummy3)
    Category3.append("React JS Developer")
    reactjs = (pd.DataFrame(Resume3,Category3).reset_index())
    reactjs.columns = ['Category','Resume']
    

Resume4=[]
Category4=[]
for filename in ppl:
    dummy4=readtxt(filename)
    Resume4.append(dummy4)
    Category4.append("Peoplesoft")
    Peoplesoft = (pd.DataFrame(Resume4,Category4).reset_index())
    Peoplesoft.columns = ['Category','Resume']


Resume5=[]
Category5=[]
for filename in work:
    dummy5=readtxt(filename)
    Resume5.append(dummy5)
    Category5.append('Work Day')
    workday = (pd.DataFrame(Resume5,Category5).reset_index())
    workday.columns = ['Category','Resume']


df = pd.concat([intern,SQL,reactjs, Peoplesoft, workday],axis=0).reset_index()
df = df.drop(columns='index',axis=0)
df['Resume']= df['Resume']
df

              Category                                             Resume
0           Internship  Name: Ravali P \n\n                           ...
1           Internship    \nName:SUSOVAN  BAG   \nSeeking  a  challeng...
2        SQL Developer  ANIL KUMAR MADDUKURI  \t\t\nSQL & MSBI Develop...
3        SQL Developer  \nAradhana Tripathi\n\nCurrent Location: Gachi...
4        SQL Developer  BUDDHA VAMSI                                  ...
5        SQL Developer  KAMBALLA PRADEEP                              ...
6        SQL Developer  \n\n\n Hyderabad\n\nNazeer Basha\nSQL and Pow...
7        SQL Developer   \n                                        Res...
8        SQL Developer  SQL DEVELOPER\nName: -   Bandi prem sai\n\n\nW...
9        SQL Developer                                         SQL SER...
10       SQL Developer                                         SQL SER...
11       SQL Developer   RAJU PAVANA KUMARI\n\n\nProfessional Summary:...
12       SQL Developer                                      resume\n\n...
13       SQL Developer  Name: Ramesh\n\nCareer Objective: \n          ...
14       SQL Developer  Career objective\n\t\nA rewarding opportunity ...
15       SQL Developer  B. vinod kumar\n\nOBJECTIVE:\nWilling to work ...
16  React JS Developer  Kanumuru Deepak Reddy\n\n\n\nCAREER OBJECTIVE:...
17  React JS Developer  HARIPRIYA BATTINA \nExperience as UI Developer...
18  React JS Developer  KAMALAKAR REDDY. A \nLinked In: https://www.li...
19  React JS Developer  \nNaveen Sadhu\n\n\nTitle: software developer\...
20  React JS Developer  \n\n\nPROFILE\nSearching for the opportunity t...
21  React JS Developer   \nPRAGNYA PATTNAIK\n \n \n \n Expertise: \n \...
22  React JS Developer  \n\n 204,Sri geethika prestige,road number 10...
23  React JS Developer  \n\nThirupathamma Balla\n\nSUMMARY:\n\n2.8 yea...
24  React JS Developer  Maryala Vinay Reddy\n\nProfessional Summary:\t...
25  React JS Developer  \nUi-Developer/ React JS Developer \nNAME: KRI...
26  React JS Developer  CURRICULUM VITAE\n\n\n\n\nI hereby declare tha...
27  React JS Developer  Kotani Durga Prasad\n\n\nObjective:\n\nAspiran...
28  React JS Developer  Venkatalakshmi Pedireddy\nSoftware Developer\n...
29  React JS Developer  KAMBALA SAI SURENDRA   \n \n\tMandepeta \t \n ...
30  React JS Developer  MAREEDU LOKESH BABU\n\nPROFESSIONAL OVERVIEW\n...
31  React JS Developer  MD KHIZARUDDIN RAUF \n \t EXPERIENCE \n     \n...
32  React JS Developer  \nName: M. Prabakaran \nTitle: UI Developer\nP...
33  React JS Developer  \nPranish Sonone\n\t\n\n\n\n\nCareer summary:\...
34  React JS Developer  Ranga Gaganam  \n \n \nHaving 1+ years of succ...
35  React JS Developer  SHAIK ABDUL SHARUK   \n2 years’ Experience in ...
36          Peoplesoft    Anubhav Kumar Singh\t\t\n\n  To work in a gl...
37          Peoplesoft  \n\n\n\n\n\n\t\n\nProfile Summary:\t\t\t\t\t\t...
38          Peoplesoft  PeopleSoft Database Administrator\n           ...
39          Peoplesoft  Murali\n\nExperience Summary \n\nI have 6 year...
40          Peoplesoft  Priyanka Ramadoss\n61/46, MountPleasant, \nCoo...
41          Peoplesoft  \n\n\n\n\n\n\n\n\n\n\n\n\n\nPROFILE SUMMARY\n\...
42          Peoplesoft  PEOPLESOFT Administrator\n\n\nSRINIVAS.K \t\t\...
43          Peoplesoft   PeopleSoft Admin\nVARKALA VIKAS\n\nCareer Obj...
44          Peoplesoft  Vinod Akkala                                  ...
45          Peoplesoft   PeopleSoft Admin/PeopleSoft DBA\n\nGanesh All...
46          Peoplesoft  PeopleSoft Administration\n \nVivekanand Sayan...
47          Peoplesoft  Arun Venu\n\n  EXPERIENCE SUMMARY\t\n\nExperie...
48          Peoplesoft  \n\n\n\n\nExperience Summary\n4.1 years- Exper...
49          Peoplesoft  Rahul Ahuja\n---------------------------------...
50          Peoplesoft  \nHaving 4.6 years of experience in PeopleSoft...
51          Peoplesoft   \n\nCAREER OBJECTIVE\t\t\n\nPursuing Peopleso...
52          Peoplesoft  \nR Ahmed                                     ...
53          Peoplesoft  Tanna Sujatha \n\n\n\nOBJECTIVE\nSeeking a cha...
54          Peoplesoft  \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nC O N ...
55            Work Day  Chinna Subbarayudu M\nDOB: 06th March 1994\nNa...
56            Work Day  \t\n\n\nName         : Gopi Krishna Reddy\n\t\...
57            Work Day  Hari Krishna M\n\n\nSummary:\nA result oriente...
58            Work Day  Harikrishna Akula                             ...
59            Work Day  HIMA.MENDU\n  \n\nCareer Objective\nTo continu...
60            Work Day                                        \n      ...
61            Work Day  \t\t\t\t\t\t\tName:\tJ. Sumanth Royal.\n\t\nPR...
62            Work Day  \n\nJYOTI VERMA\t\t\t\t\t\n\n\n\n3 years of Ex...
63            Work Day  \t\t\t\t\tMadeeswar A\n\t\n\t\nPROFILE SUMMARY...
64            Work Day  \n\nMooraboyina Guravaiah\nWorkday Integration...
65            Work Day  Name\t: Naresh Babu Cherukuri\n\nObjective:\nT...
66            Work Day  VENKATA SAIKRISHNA\n Workday Consultant\n\n\nP...
67            Work Day  \n\n\n3.3 years of IT experience as Workday HC...
68            Work Day  Rahul  (Techno Functional Consultant)  \nProfe...
69            Work Day  Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
70            Work Day  Shireesh Balasani                             ...
71            Work Day  \tWorkday Integration Consultant\n\nName      ...
72            Work Day  Seeking suitable positions in Workday HCM  as ...
73            Work Day  \nWORKDAY | HCM | FCM\nName \t\t: Kumar S.S\nR...
74            Work Day  Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...
75            Work Day                                                ...

# 3] Creating functions to extract data from Resume column

In [5]:
def extract_name(resume_text):
    
    # Define a pattern to match the name
    name_pattern = r"(?i)\bName\b\s*[:|-]?\s*([^\s.]+)"

    # Search for the name pattern in the resume text
    match = re.search(name_pattern, resume_text)

    return match.group(1).strip() if match else None
    
    
df['Name'] = df['Resume'].apply(extract_name)
df['Name'] = df['Name'].str.strip()

In [6]:
def extract_education(text):
    education_pattern = r'Education:.*?((?:\n.+\n)+)'
    education_match = re.search(education_pattern, text, re.IGNORECASE)
    if education_match:
        return education_match.group(1).strip()
    else:
        return '-'

df['Education'] = df['Resume'].apply(extract_education)

In [7]:
def extract_date_of_birth(resume_text):
    # Define patterns for common date formats
    date_patterns = [
        r"\b(\d{1,2})[/.-](\d{1,2})[/.-](\d{4})\b",  # dd/mm/yyyy or dd-mm-yyyy or dd.mm.yyyy
        r"\b(\d{4})[/.-](\d{1,2})[/.-](\d{1,2})\b",  # yyyy/mm/dd or yyyy-mm-dd or yyyy.mm.dd
    ]

    # Iterate over the date patterns and search for a match in the resume text
    for pattern in date_patterns:
        match = re.search(pattern, resume_text)
        if match:
            # Return the matched date
            return match.group()

    return None

# Apply the extract_date_of_birth function to the "Resume" column
df['DateOfBirth'] = df['Resume'].apply(extract_date_of_birth)

In [8]:
def extract_email(text):
    email_pattern = r'\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}\b'
    email = re.search(email_pattern, text)
    if email:
        return email.group()
    else:
        return '-'

In [9]:
def extract_phone_number(text):
    phone_pattern = r'(\+91)?\d{10}'
    phone = re.search(phone_pattern, text)
    if phone:
        return phone.group()
    else:
        return '-'

df['Email'] = df['Resume'].apply(extract_email)
df['Phone'] = df['Resume'].apply(extract_phone_number)

In [10]:
def extract_experience(text):
    experience_pattern = r'\b(?!2012|100)(?:(?:0?\.\d+|\d+\.\d+)|[1-9]\d?(?:\.\d+)?)(?:\s*(?:years?|yrs?)\s*)?(?:\s*\d+(?:\.\d+)?\s*(?:months?|mos?)\s*)?(?:\s*(?:of\s)?experience)?'
    experience = re.search(experience_pattern, text, re.IGNORECASE)
    if experience:
        experience_value = re.findall(r'\d+(?:\.\d+)?', experience.group())
        # Exclude numbers greater than 26
        if float(experience_value[0]) <= 26:
            return experience_value[0]
    return ''

df['Experience'] = df['Resume'].apply(extract_experience)

In [11]:
def extract_skills(text, category):
    skills = []
    if category == 'SQLDeveloper':
        predefined_skills = ['SQL', 'Database Management', 'Data Analysis', 'Query Optimization', 'ETL', 'Performance Tuning', 'Stored Procedures', 'Data Modeling', 'Indexing', 'Data Warehousing']
    elif category == 'WorkDay':
        predefined_skills = ['Workday', 'HCM', 'Integration', 'Consultant', 'Business Processes', 'Configuration', 'Report Writing', 'Security Administration', 'Absence Management', 'Benefits Administration']
    elif category == 'Peoplesoft':
        predefined_skills = ['Peoplesoft', 'HRMS', 'Payroll Management', 'PeopleTools', 'Application Designer', 'PeopleCode', 'Component Interface', 'SQR', 'Integration Broker', 'Workflow']
    elif category == 'React JS Developer':
        predefined_skills = ['React JS', 'UI Development', 'JavaScript', 'HTML', 'CSS', 'RESTful APIs', 'React Router', 'Redux', 'Webpack', 'Testing (Jest/Enzyme)']
    else:
        predefined_skills = []

    for skill in predefined_skills:
        pattern = r'\b{}\b'.format(re.escape(skill))
        if re.search(pattern, text, re.IGNORECASE):
            skills.append(skill)

    return ', '.join(skills[:10])

# Apply the function to the DataFrame based on the Category column
df['Skills'] = df.apply(lambda x: extract_skills(x['Resume'], x['Category']), axis=1)

In [12]:
def extract_skills(text, category):
    skills = []
    if category == 'SQL Developer':
        predefined_skills = ['SQL', 'ETL', 'Stored Procedures', 'Database Management', 'Data Analysis', 'Query Optimization', 'Performance Tuning', 'Data Modeling', 'Indexing', 'Data Warehousing']
    
    elif category == 'Work Day':
        predefined_skills = ['Workday', 'HCM', 'Integration', 'Consultant', 'Business Processes', 'Configuration', 'Report Writing', 'Security Administration', 'Absence Management', 'Benefits Administration']
    
    elif category == 'Peoplesoft':
        predefined_skills = ['Peoplesoft', 'HRMS', 'Payroll Management', 'PeopleTools',
                             'Application Designer', 'PeopleCode', 'Component Interface', 'SQR', 'Integration Broker', 'Workflow']
    
    elif category == 'React JS Developer':
        predefined_skills = ['React JS', 'UI Development', 'MERN stack','JavaScript', 'JSON',
                              'React','HTML', 'CSS', 'RESTful APIs', 'React Router', 'Redux', 
                             'Webpack', 'Testing (Jest/Enzyme)']
    
    elif category == 'Internship':
        predefined_skills = ['SDLC concepts', 'STLC concepts', 'Internship', 'CCNA', 'OOPS']
    else:
        predefined_skills = []

    for skill in predefined_skills:
        pattern = r'\b{}\b'.format(re.escape(skill), flags=re.IGNORECASE)
        if re.search(pattern, text, flags=re.IGNORECASE):
            skills.append(skill)

    return ', '.join(skills[:10])

# Apply the function to the DataFrame based on the Category column
df['Skills'] = df.apply(lambda x: extract_skills(x['Resume'], x['Category']), axis=1)
df

,Category,Resume,Name,Education,DateOfBirth,Email,Phone,Experience,Skills
0,Internship,Name: Ravali P \n\n ...,Ravali,-,04/11/1995,-,-,20,"SDLC concepts, STLC concepts"
1,Internship,\nName:SUSOVAN BAG \nSeeking a challeng...,SUSOVAN,-,None,-,-,20,"CCNA, OOPS"
2,SQL Developer,ANIL KUMAR MADDUKURI \t\t\nSQL & MSBI Develop...,None,-,None,-,-,2.4,"SQL, ETL, Stored Procedures"
3,SQL Developer,\nAradhana Tripathi\n\nCurrent Location: Gachi...,None,-,None,-,-,4,"SQL, Stored Procedures, Database Management, D..."
4,SQL Developer,BUDDHA VAMSI ...,Buddha,-,22-08-1994,-,-,2.11,"SQL, ETL, Stored Procedures"
5,SQL Developer,KAMBALLA PRADEEP ...,None,-,None,-,-,2.8,"SQL, Stored Procedures, Database Management"
6,SQL Developer,\n\n\n Hyderabad\n\nNazeer Basha\nSQL and Pow...,None,-,None,-,-,2.6,"SQL, ETL, Stored Procedures"
7,SQL Developer,\n Res...,Neeraj,-,None,-,-,3,"SQL, Stored Procedures"
8,SQL Developer,SQL DEVELOPER\nName: - Bandi prem sai\n\n\nW...,-,-,None,-,-,20,"SQL, Stored Procedures, Query Optimization, Pe..."
9,SQL Developer,SQL SER...,None,-,None,-,-,2.5,"SQL, ETL, Stored Procedures, Performance Tuning"
10,SQL Developer,SQL SER...,None,-,None,-,-,2.3,"SQL, ETL, Stored Procedures, Performance Tuning"
11,SQL Developer,RAJU PAVANA KUMARI\n\n\nProfessional Summary:...,None,-,None,-,-,2.10,"SQL, Stored Procedures, Performance Tuning"
12,SQL Developer,resume\n\n...,K,-,None,-,-,2.5,"SQL, ETL, Stored Procedures, Indexing"
13,SQL Developer,Name: Ramesh\n\nCareer Objective: \n ...,Ramesh,-,None,-,-,3.5,"SQL, ETL, Stored Procedures, Performance Tuning"
14,SQL Developer,Career objective\n\t\nA rewarding opportunity ...,None,-,None,-,-,3.2,"SQL, Stored Procedures, Performance Tuning"
15,SQL Developer,B. vinod kumar\n\nOBJECTIVE:\nWilling to work ...,None,-,None,-,-,20,"SQL, ETL, Stored Procedures"
16,React JS Developer,Kanumuru Deepak Reddy\n\n\n\nCAREER OBJECTIVE:...,Mr,-,None,-,-,4,"React JS, JavaScript, JSON, React, HTML, CSS, ..."
17,React JS Developer,HARIPRIYA BATTINA \nExperience as UI Developer...,ONLINE,-,None,haripriyabattini@gmai.com,9908576950,,"React JS, JavaScript, React, HTML, CSS"
18,React JS Developer,KAMALAKAR REDDY. A \nLinked In: https://www.li...,None,-,None,-,-,,"React JS, UI Development, JavaScript, React, H..."
19,React JS Developer,\nNaveen Sadhu\n\n\nTitle: software developer\...,None,-,None,-,-,1,"MERN stack, HTML, CSS"
20,React JS Developer,\n\n\nPROFILE\nSearching for the opportunity t...,None,-,None,-,-,3,"JavaScript, React, HTML, CSS"
21,React JS Developer,\nPRAGNYA PATTNAIK\n \n \n \n Expertise: \n \...,PRAGNYA,-,None,-,-,2,"React JS, UI Development, JavaScript, React, CSS"
22,React JS Developer,"\n\n 204,Sri geethika prestige,road number 10...",None,-,None,-,-,20,"React JS, JavaScript, React, HTML, CSS"
23,React JS Developer,\n\nThirupathamma Balla\n\nSUMMARY:\n\n2.8 yea...,None,-,None,-,-,2.8,"JavaScript, JSON, React"
24,React JS Developer,Maryala Vinay Reddy\n\nProfessional Summary:\t...,None,-,None,-,-,2,"JavaScript, React, HTML, Redux"
25,React JS Developer,\nUi-Developer/ React JS Developer \nNAME: KRI...,KRISHNA,-,None,-,-,3.2,"React JS, JavaScript, JSON, React, HTML, CSS, ..."
26,React JS Developer,CURRICULUM VITAE\n\n\n\n\nI hereby declare tha...,None,-,None,-,-,,
27,React JS Developer,Kotani Durga Prasad\n\n\nObjective:\n\nAspiran...,None,-,None,-,-,3.1,"React JS, JavaScript, JSON, React, HTML"
28,React JS Developer,Venkatalakshmi Pedireddy\nSoftware Developer\n...,None,-,None,-,-,3,"React JS, React"
29,React JS Developer,KAMBALA SAI SURENDRA \n \n\tMandepeta \t \n ...,None,-,None,-,-,1,"React JS, JavaScript, React, HTML, CSS, Redux"
30,React JS Developer,MAREEDU LOKESH BABU\n\nPROFESSIONAL OVERVIEW\n...,RMC,-,None,-,-,2,"React JS, JavaScript, React, HTML, CSS"
31,React JS Developer,MD KHIZARUDDIN RAUF \n \t EXPERIENCE \n \n...,None,-,1-06-1998,-,-,20,"React JS, UI Development, JavaScript, React, H..."
32,React JS Developer,\nName: M. Prabakaran \nTitle: UI Developer\nP...,M,-,None,-,-,2.4,"HTML, CSS"
33,React JS Developer,\nPranish Sonone\n\t\n\n\n\n\nCareer summary:\...,None,-,None,-,-,1,"React JS, JavaScript, React, CSS, Redux"
34,React JS Developer,Ranga Gaganam \n \n \nHaving 1+ years of succ...,None,-,None,-,-,1,"JavaScript, React, HTML"
35,React JS Developer,SHAIK ABDUL SHARUK \n2 years’ Experience in ...,None,-,None,sharukabdul786@gmail.com,-,2,"React JS, React, Redux"
36,Peoplesoft,Anubhav Kumar Singh\t\t\n\n To work in a gl...,None,-,None,-,-,20,"Peoplesoft, HRMS, PeopleTools, Integration Broker"
37,Peoplesoft,\n\n\n\n\n\n\t\n\nProfile Summary:\t\t\t\t\t\t...,G,Bachelors in Computer Science Anil Neerukonda ...,27/05/1987,-,-,7,"Peoplesoft, HRMS, Application Designer, Integr..."
38,Peoplesoft,PeopleSoft Database Administrator\n ...,None,-,None,-,-,4,"Peoplesoft, HRMS, PeopleTools, SQR"
39,Peoplesoft,Murali\n\nExperience Summary \n\nI have 6 year...,None,-,None,-,-,6,"Peoplesoft, HRMS, PeopleTools, Application Des..."
40,Peoplesoft,"Priyanka Ramadoss\n61/46, MountPleasant, \nCoo...",None,-,None,-,-,,"Peoplesoft, Application Designer, Integration ..."
41,Peoplesoft,\n\n\n\n\n\n\n\n\n\n\n\n\n\nPROFILE SUMMARY\n\...,AXA,-,None,-,-,6.8,"Peoplesoft, HRMS, PeopleTools, Application Des..."
42,Peoplesoft,PEOPLESOFT Administrator\n\n\nSRINIVAS.K \t\t\...,None,-,None,-,-,10,"Peoplesoft, HRMS, PeopleTools, SQR, Integratio..."
43,Peoplesoft,PeopleSoft Admin\nVARKALA VIKAS\n\nCareer Obj...,None,-,None,-,-,4.2,"Peoplesoft, HRMS, PeopleTools, Application Des..."
44,Peoplesoft,Vinod Akkala ...,None,-,None,-,-,7,"Peoplesoft, HRMS, PeopleTools, Integration Broker"
45,Peoplesoft,PeopleSoft Admin/PeopleSoft DBA\n\nGanesh All...,None,-,None,-,-,6.4,"Peoplesoft, HRMS, PeopleTools, Application Des..."
46,Peoplesoft,PeopleSoft Administration\n \nVivekanand Sayan...,None,-,None,-,-,7.5,"Peoplesoft, HRMS, PeopleTools, Application Des..."
47,Peoplesoft,Arun Venu\n\n EXPERIENCE SUMMARY\t\n\nExperie...,None,-,None,-,-,20,"Peoplesoft, PeopleTools, PeopleCode, SQR"
48,Peoplesoft,\n\n\n\n\nExperience Summary\n4.1 years- Exper...,None,-,None,-,-,4.1,"Peoplesoft, HRMS, PeopleCode, SQR"
49,Peoplesoft,Rahul Ahuja\n---------------------------------...,None,-,None,-,-,10.2,"Peoplesoft, PeopleTools, Application Designer,..."
50,Peoplesoft,\nHaving 4.6 years of experience in PeopleSoft...,None,-,None,-,-,4.6,"Peoplesoft, Application Designer, Component In..."
51,Peoplesoft,\n\nCAREER OBJECTIVE\t\t\n\nPursuing Peopleso...,None,-,None,-,-,3.6,"Peoplesoft, Application Designer, PeopleCode"
52,Peoplesoft,\nR Ahmed ...,None,-,None,-,-,3.2,"Peoplesoft, PeopleTools, Application Designer,..."
53,Peoplesoft,Tanna Sujatha \n\n\n\nOBJECTIVE\nSeeking a cha...,Datum,-,None,-,-,3.6,Peoplesoft
54,Peoplesoft,\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nC O N ...,None,-,None,-,-,,"Peoplesoft, Application Designer"
55,Work Day,Chinna Subbarayudu M\nDOB: 06th March 1994\nNa...,M,-,None,-,-,19,"Workday, HCM, Integration, Consultant, Busines..."
56,Work Day,\t\n\n\nName : Gopi Krishna Reddy\n\t\...,Gopi,-,19-04-1993,-,-,3,"Workday, HCM, Integration, Consultant, Report ..."
57,Work Day,Hari Krishna M\n\n\nSummary:\nA result oriente...,None,"MCA from JNTU University, Kakinada in 2013.\n\...",None,-,-,6.10,"Workday, HCM, Integration, Consultant, Busines..."
58,Work Day,Harikrishna Akula ...,None,Bachelore in Civil Engineering From AVR&SVR Co...,None,-,-,5.2,"Workday, HCM, Integration, Consultant, Configu..."
59,Work Day,HIMA.MENDU\n \n\nCareer Objective\nTo continu...,None,-,None,-,-,20,"Workday, HCM, Integration, Consultant, Busines..."
60,Work Day,\n ...,None,Completed Degree (BSc. computer science) from ...,None,-,-,3,"Workday, HCM, Integration, Consultant"
61,Work Day,\t\t\t\t\t\t\tName:\tJ. Sumanth Royal.\n\t\nPR...,J,-,None,-,-,5.7,"Workday, HCM, Integration, Consultant, Busines..."
62,Work Day,\n\nJYOTI VERMA\t\t\t\t\t\n\n\n\n3 years of Ex...,None,-,None,-,-,3,"Workday, HCM, Consultant, Business Processes, ..."
63,Work Day,\t\t\t\t\tMadeeswar A\n\t\n\t\nPROFILE SUMMARY...,Madeeswar,-,None,-,-,6,"Workday, HCM, Integration, Consultant, Busines..."
64,Work Day,\n\nMooraboyina Guravaiah\nWorkday Integration...,Danaiah,-,15-02-1992,-,-,5,"Workday, HCM, Integration, Consultant, Absence..."
65,Work Day,Name\t: Naresh Babu Cherukuri\n\nObjective:\nT...,Naresh,-,None,-,-,5,"Workday, HCM, Integration, Consultant, Busines..."
66,Work Day,VENKATA SAIKRISHNA\n Workday Consultant\n\n\nP...,None,MBA in HR and Marketing from KL University in ...,None,-,-,3,"Workday, Consultant, Business Processes, Confi..."
67,Work Day,\n\n\n3.3 years of IT experience as Workday HC...,Swetha,-,None,-,-,3.3,"Workday, HCM, Integration, Consultant"
68,Work Day,Rahul (Techno Functional Consultant) \nProfe...,None,-,None,-,-,5,"Workday, HCM, Integration, Consultant, Busines..."
69,Work Day,Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...,None,Bachelor of Technology: Mechanical Engineering...,None,-,-,5,"Workday, HCM, Consultant, Business Processes, ..."
70,Work Day,Shireesh Balasani ...,None,-,None,-,-,10,"Workday, HCM, Integration, Consultant, Busines..."
71,Work Day,\tWorkday Integration Consultant\n\nName ...,Sri,-,None,-,-,4,"Workday, HCM, Integration, Consultant, Busines..."
72,Work Day,Seeking suitable positions in Workday HCM as ...,None,-,None,-,-,4,"Workday, HCM, Integration, Consultant, Busines..."
73,Work Day,\nWORKDAY | HCM | FCM\nName \t\t: Kumar S.S\nR...,Kumar,-,None,-,-,6,"Workday, HCM, Integration, Consultant, Busines..."
74,Work Day,Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...,None,-,None,-,-,5.3,"Workday, HCM, Integration, Consultant, Busines..."
75,Work Day,...,None,-,None,-,-,4.2,"Workday, HCM, Integration, Consultant, Busines..."

In [13]:
def extract_links(resume_text):
    link_pattern = r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+'
    links = re.findall(link_pattern, resume_text)
    if links:
        return links
    else:
        return '-'

# Apply the extract_links function to the "Resume" column
df['Links'] = df['Resume'].apply(extract_links)

In [14]:
def extract_previous_work_experience(resume_text):
    # Define a pattern to extract previous work experience
    experience_pattern = r'(\d+(\.\d+)?\s*(?:years?|yrs?)\s*(?:of\s+experience)?)[\s-]*(.*)'

    # Search for the experience pattern in the resume text
    match = re.search(experience_pattern, resume_text, re.IGNORECASE)

    if match:
        return match.group(3).strip()  # Extract the third group (previous work experience)
    else:
        return 'Not Found'

# Apply the extract_previous_work_experience function to the "Resume" column
df['PreviousWorkExperience'] = df['Resume'].apply(extract_previous_work_experience)

In [15]:
def clean_resume_data(resume_text):
    resume_text = re.sub('http\S+\s*', ' ', resume_text)  # remove URLs
    resume_text = re.sub('#\S+', '', resume_text)  # remove hashtags
    resume_text = re.sub('@\S+', ' ', resume_text)  # remove mentions
    resume_text = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', resume_text)  # remove punctuations
    resume_text = re.sub(r'[^\x00-\x7f]', ' ', resume_text) 
    resume_text = re.sub('\s+', ' ', resume_text)  # remove extra whitespace
    return resume_text

df['Resume'] = df['Resume'].apply(clean_resume_data)

df.to_csv('Resume raw_dataset.csv')

In [16]:
df.head()

,Category,Resume,Name,Education,DateOfBirth,Email,Phone,Experience,Skills,Links,PreviousWorkExperience
0,Internship,Name Ravali P Curriculum Vitae Specialization ...,Ravali,-,04/11/1995,-,-,20,"SDLC concepts, STLC concepts",-,Not Found
1,Internship,Name SUSOVAN BAG Seeking a challenging positi...,SUSOVAN,-,None,-,-,20,"CCNA, OOPS",-,Not Found
2,SQL Developer,ANIL KUMAR MADDUKURI SQL MSBI Developer Summar...,None,-,None,-,-,2.4,"SQL, ETL, Stored Procedures",-,in MS SQL Server (SSMS) and creating SSIS pack...
3,SQL Developer,Aradhana Tripathi Current Location Gachibowli...,None,-,None,-,-,4,"SQL, Stored Procedures, Database Management, D...",-,of working experience in information technolog...
4,SQL Developer,BUDDHA VAMSI CAREER OBJECTIVE Have 2 11 years ...,Buddha,-,22-08-1994,-,-,2.11,"SQL, ETL, Stored Procedures",-,of IT experience as Database Engineer and curr...